.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.header {
  background: rgb(25, 24, 25);
  background: linear-gradient(
    79deg,
    rgba(25, 24, 25, 1) 0%,
    rgba(1, 30, 36, 1) 100%
  );
  color: white;
  height: calc(15vh + 30px);
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-shadow: 2px 2px rgb(139, 2, 2)
}

.title {
  text-align: center;
}

.footer {
  display: flex;
  height: 50px;

  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer span {
  font-weight: bold;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
